// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

/**** VARIABLES ****/

$text-color: #000000;
$text-selection :#b0b0b0;

$base-font-size: 22px;
$base-font-weight: 100;
$base-font-family: 'Crimson Text', serif;
$base-line-height: 1.5;
$base-font-size-sm: 20px;
$base-line-height-sm: 1.5;

$two-font-size: 28px;
$two-font-weight: 100;
$two-font-family: 'Lato', sans-serif;



$base-espace: 30px;


